<div class="mx-auto max-w-7xl px4 sm:px-6 lg:px-8 py-12">
  <div class="mx-auto max-w-3xl">
    <div class="bg-white px-8 py-8 rounded-lg shadow-lg">
      <%= render "form", board: @board, list: @list%>
    </div>
  </div>
</div>