<div class="mx-auto max-w-7xl px4 sm:px-6 lg:px-8 py-12" data-controller="board">
  <div class="mx-auto max-w-3xl">
    <p>view board</p>
  </div>
</div>

<script type="application/javascript">
  
</script>